.container{
display: flex;
max-width: 1000px;
margin: 0 auto;
margin-top: 20px;
align-items: end;
}


.top_btn{

    display: flex;
    gap: 32px;
}



.contactform{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.from_controler{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.from_controler input {
    height: 40px;
    padding: 0 8px;
}
.from_controler label {
    position: absolute;
    top: -12px;
    padding: 0 8px;
    background-color: white;
    left: 10px;
    font-size: 14px;
    
}